<div class="container">
  <h1 class="heading">TILE GROUT FINDER AND CALCULATOR</h1>
  

   <div class="parent" style="display: flex; justify-content: center;">
    <div class="left">
      <h2 class="child-heading" style="margin-bottom: 15px;">1 Project type</h2>
      <div class="part-one">
        <h3 class="child-title">APPLICATION AREA</h3>
      <!-- SELECT COMPONENT  -->
      <select class="dropdown" style="margin-bottom: 20px;" [(ngModel)]="selectedarea">
        <option disabled selected value="">Please choose an option</option>
        <option style="border-bottom: 1px solid black;" value="Bathrooms">Bathrooms</option>
        <option value="Kitchen">Kitchen</option>
        <option value="Living rooms">Living rooms</option>
        <option value="Entrance/corridor">Entrance/corridor</option>
        <option value="Pools">Pools</option>
        <option value="Balconies/Terraces">Balconies/Terraces</option>
        <option value="Heavy Traffic Area">Heavy Traffic Area</option>
        <!-- <option value="Industrial areas (car washing/industrial kitchen/foodproduction/labs etc…)">Industrial areas (car washing/industrial kitchen/food  production/labs etc…)</option> -->
        <option value="Spas, hammams (incl public areas)">Spas, hammams (incl public areas)</option>
      </select>

      <h3 class="child-title">TILE TYPE ⓘ</h3>
      <!-- SELECT COMPONENT  -->
      <select class="dropdown" style="margin-bottom: 20px;" [(ngModel)]="selectedtile">
        <option disabled selected value="">Please choose an option</option>
        <option style="border-bottom: 1px solid black;" value="Gres">Gres</option>
        <option value="Porcelain">Porcelain</option>
        <option value="Earthenware">Earthenware</option>
        <option value="Stoneware">Stoneware</option>
        <option value="Natural stone">Natural stone</option>
        <option value="Glass mosaics">Glass mosaics</option>
        <option value="Mosaic">Mosaic</option>
      </select>
      </div>
      <div class="part-two">
        <h2 class="child-heading" style="margin-bottom: 15px;">2 Tile measurements</h2>
        <h3 class="child-title">TILE WIDTH</h3>
        <input type="number" [(ngModel)]="tileWidth" class="num-input" id="tileWidth">
        <!-- <span class="input-unit">cm</span> -->

        <h3 class="child-title">TILE HEIGHT</h3>
        <input placeholder="cm" type="number" [(ngModel)]="tileHeight" class="num-input" id="tileWidth">
        <!-- <span class="input-unit-2">cm</span> -->

        <h3 class="child-title">THICKNESS</h3>
        <input placeholder="cm" type="number" [(ngModel)]="tileThickness" class="num-input" id="tileThickness">
        <!-- <span class="input-unit-3">mm</span> -->

        <h3 class="child-title">JOINT GAP</h3>
        <input placeholder="cm" type="number" [(ngModel)]="tileThickness" class="num-input" id="tileThickness">
        <!-- <span class="input-unit-4">mm</span> -->
        
        <h2 class="child-heading" style="margin-bottom: 15px;">3 Area size</h2>
        <div style=" border: 1px solid black;
        padding: 0px !important;
        width: 80px;
        text-align: center;
        margin: 0 auto;
        height: 26px;
        margin-bottom: 15px;   ">
          <p style=" font-weight: bold; margin-bottom: 10px;">{{ sliderValue }} m<sup>2</sup> </p>
        </div>

        <div class="slider-box">
          <div class="slider">
            <input class="slider-input" type="range" min="0" max="100" value="10" (input)="updateValue($event)">
          </div>
      
        </div>
        

        <button class="calc-button" (click)="toggleCalculate()">{{ isCalculating ? 'New Calculation >' : 'Calculate > ' }}</button>

      </div>
       
    </div>

    <!-- RIGHT DIV -->
    <div class="right"  *ngIf="isResultDisplayed" >
      <h2 style="font-size: 14px; margin-top: 10px;" class="child-heading"> YOUR WORK:</h2>
      <span style="margin-bottom: 15px;" class="horizontal-line"></span>
      
      <p style="font-size: 12px; margin-bottom: -2px;">Tile Type</p>
      <p style="font-weight: bold; margin-bottom: 15px;">{{prevSelectedTile}}</p>
      

      <p style="font-size: 12px;">Area</p>
      <p style=" font-weight: bold; margin-bottom: 15px;">{{ sliderValue }}</p>
      <!-- AREA VALUE -->

      <h2 style="font-size: 14px;" class="child-heading"> YOU WILL NEED:</h2>
      <span style="margin-bottom: 15px;" class="horizontal-line"></span>
      <h2 style="font-size: 14px; margin-bottom: 15px;" class="child-heading"> CERESIT CE 40 AQUASTATIC</h2>

      <p style="font-size: 12px;">Product quantity needed</p>
      <p style=" font-weight: bold; margin-bottom: 15px;">{{ result }} m<sup>2</sup> </p>

      <p style="font-size: 12px;">Packaging size</p>
      <p style=" font-weight: bold; margin-bottom: 15px;"> 2 kg </p>

      <p style="font-size: 12px;">Number of units</p>
      <p style=" font-weight: bold; margin-bottom: 15px; text-decoration: underline;"> 1 </p>

      <p style="font-size: 12px;">Packaging size</p>
      <p style=" font-weight: bold; margin-bottom: 15px;"> 5 kg </p>

      <p style="font-size: 12px;">Number of units</p>
      <p style=" font-weight: bold; margin-bottom: 15px;"> 1</p>

      <img style="width: 188px;" src="assets/product.webp" alt="Product Image">
      
      <a style="color: white; text-decoration: none;" href="https://preview-cms-a.brands.henkel.com/content/uac/ceresit-2019/com/en/products/tiling/tiling-grouts/flex-grouts/ceresit-ce-40.html"><p style="font-size: 10px;">View more</p></a>

      <span style="margin-bottom: 8px;" class="horizontal-line"></span>

      <p style="font-size: 12px; text-align: center; margin-right:55px ">Download a Report</p>


    </div>

   
      
   </div>
</div>