<div class="container"   >
  <h1 class="heading">{{ translations.TILE_GROUT_FINDER_AND_CALCULATOR }}</h1>

  <div class="parent" style="display: flex; justify-content: center;">
    <div class="left">
      <h2 class="child-heading" style="margin-bottom: 15px;">{{ translations.PROJECT_TYPE }}</h2>
      <div class="part-one">
        <h3 class="child-title">{{ translations.APPLICATION_AREA }}</h3>
        <select class="dropdown" [(ngModel)]="selectedarea">
          <option disabled selected value="">{{ translations.PLEASE_CHOOSE_AN_OPTION }}</option>
          <option style="border-bottom: 1px solid black;" value="Bathrooms">{{ translations.BATHROOMS }}</option>
          <option value="Kitchen">{{ translations.KITCHEN }}</option>
          <option value="Living rooms">{{ translations.LIVING_ROOMS }}</option>
          <option value="Entrance/corridor">{{ translations.ENTRANCE_CORRIDOR }}</option>
          <option value="Pools">{{ translations.POOLS }}</option>
          <option value="Balconies/Terraces">{{ translations.BALCONIES_TERRACES }}</option>
          <option value="Heavy Traffic Area">{{ translations.HEAVY_TRAFFIC_AREA }}</option>
          <option value="Industrial areas">{{ translations.INDUSTRIAL_AREA }}</option>
          <option value="Spas, hammams (incl public areas)">{{ translations.SPAS_HAMMAMS }}</option>
        </select>

        <h3 class="child-title" style="margin-top: 15px;">{{ translations.TILE_TYPE }}</h3>
        <select class="dropdown" style="margin-bottom: 40px;" [(ngModel)]="selectedtile">
          <option disabled selected value="">{{ translations.PLEASE_CHOOSE_AN_OPTION }}</option>
          <option style="border-bottom: 1px solid black;" value="Gres">{{ translations.GRES }}</option>
          <option value="Porcelain">{{ translations.PORCELAIN }}</option>
          <option value="Earthenware">{{ translations.EARTHENWARE }}</option>
          <option value="Stoneware">{{ translations.STONEWARE }}</option>
          <option value="Natural stone">{{ translations.NATURAL_STONE }}</option>
          <option value="Glass mosaics">{{ translations.GLASS_MOSAICS }}</option>
          <option value="Mosaic">{{ translations.MOSAIC }}</option>
        </select>
      </div>
      <div class="part-two">
        <h2 class="child-heading" style="margin-bottom: 10px;">{{ translations.TILE_MEASUREMENTS }}</h2>
        <h3 class="child-title">{{ translations.TILE_WIDTH_CM }}</h3>
        <input type="number" [(ngModel)]="tileWidth" class="num-input" id="tileWidth">

        <h3 class="child-title">{{ translations.TILE_HEIGHT_CM }}</h3>
        <input placeholder="cm" type="number" [(ngModel)]="tileHeight" class="num-input" id="tileWidth">

        <h3 class="child-title">{{ translations.THICKNESS_MM }}</h3>
        <input placeholder="cm" type="number" [(ngModel)]="tileThickness" class="num-input" id="tileThickness">

        <h3 class="child-title">{{ translations.JOINT_GAP_MM }}</h3>
        <input placeholder="cm" type="number" [(ngModel)]="tileJoint" class="num-input" style="margin-bottom: 40px;" id="tileThickness">
        
        <h2 class="child-heading" style="margin-bottom: 15px;">{{ translations.AREA_SIZE }}</h2>
        <div style=" border: 1px solid black; padding: 0px !important; width: 80px; text-align: center; margin: 0 auto; height: 26px; margin-bottom: 15px;">
          <p style=" font-weight: bold; margin-bottom: 10px;">{{ sliderValue }} m<sup>2</sup> </p>
        </div>

        <div class="slider-box">
          <div class="slider">
            <input class="slider-input" type="range" min="0" max="1000" value="10" (input)="updateValue($event)">
          </div>
        </div>

        <button class="calc-button" (click)="toggleCalculate()">{{ isCalculating ? 'Oblicz ponownie >' : 'Oblicz > ' }}</button>
      </div>
    </div>

    <div class="right" *ngIf="isResultDisplayed">
      <h2 style="font-size: 14px; margin-top: 10px;" class="child-heading">{{ translations.YOUR_WORK }}</h2>
      <span style="margin-bottom: 15px;" class="horizontal-line"></span>
      
      <p style="font-size: 12px; margin-bottom: -2px;">{{ translations.TILE_TYPE }}</p>
      <p style="font-weight: bold; margin-bottom: 15px;">{{ getTranslatedTile(prevSelectedTile) }}</p>

      <p style="font-size: 12px;">{{ translations.AREA }}</p>
      <p style="font-weight: bold; margin-bottom: 15px;">{{ sliderValue }} m<sup>2</sup></p>

      <h2 style="font-size: 14px;" class="child-heading">{{ translations.YOU_WILL_NEED }}</h2>
      <span style="margin-bottom: 15px;" class="horizontal-line"></span>

      <div *ngIf="imageData.isValid; else invalidMessage">
        <div style="margin-bottom: 15px;" *ngIf="imageData.name">
          <h3>{{ imageData.name }}</h3>
          <p style="font-size: 12px;">{{ translations.PRODUCT_QUANTITY_NEEDED }}</p>
          <p style="font-weight: bold; margin-bottom: 15px;">{{ result1 }} Kg</p>
        
          <div *ngIf="imageData.size1 && imageData.unit1">
            <p style="font-size: 12px;">{{ translations.PACKAGING_SIZE }}</p>
            <p style="font-weight: bold;">{{ imageData.size1 }}</p>
            <p style="font-size: 12px;">{{ translations.NUMBER_OF_UNITS }}</p>
            <p style="font-weight: bold;">{{ calculateUnits(result1, imageData.size1) }}</p>
          </div>
        
          <div *ngIf="imageData.size2 && imageData.unit2">
            <p style="font-size: 12px;">{{ translations.PACKAGING_SIZE }}</p>
            <p style="font-weight: bold;">{{ imageData.size2 }}</p>
            <p style="font-size: 12px;">{{ translations.NUMBER_OF_UNITS }}</p>
            <p style="font-weight: bold;">{{ calculateUnits(result1, imageData.size2) }}</p>
          </div>
        
          <div *ngIf="imageData.size3 && imageData.unit3">
            <p style="font-size: 12px;">{{ translations.PACKAGING_SIZE }}</p>
            <p style="font-weight: bold;">{{ imageData.size3 }}</p>
            <p style="font-size: 12px;">{{ translations.NUMBER_OF_UNITS }}</p>
            <p style="font-weight: bold;">{{ calculateUnits(result1, imageData.size3) }}</p>
          </div>
        
          <div *ngFor="let imageUrl of imageData.images">
            <img style="width: 188px;" [src]="imageUrl" alt="{{ imageData.name }}">
          </div>
        
          <a style="text-decoration: none; color: white; font-size: 10px; margin-bottom: 10px;" *ngIf="imageData.imageLink" [href]="imageData.imageLink" target="_blank">Zobacz więcej</a>
        </div>
        
      
        <div style="margin-bottom: 15px;" *ngIf="imageData.name2">
          <h3>{{ imageData.name2 }}</h3>
          <p style="font-size: 12px;">{{ translations.PRODUCT_QUANTITY_NEEDED }}</p>
          <p style="font-weight: bold; margin-bottom: 15px;">{{ result2 }} Kg</p>
        
          <div *ngIf="imageData.size4 && imageData.unit4">
            <p style="font-size: 12px;">{{ translations.PACKAGING_SIZE }}</p>
            <p style="font-weight: bold; margin-bottom: 10px;">{{ imageData.size4 }}</p>
            <p style="font-size: 12px;">{{ translations.NUMBER_OF_UNITS }}</p>
            <p style="font-weight: bold;">{{ calculateUnits(result1, imageData.size4) }}</p>
          </div>
        
          <div *ngIf="imageData.size5 && imageData.unit5">
            <p style="font-size: 12px;">{{ translations.PACKAGING_SIZE }}</p>
            <p style="font-weight: bold; margin-bottom: 10px;">{{ imageData.size5 }}</p>
            <p style="font-size: 12px;">{{ translations.NUMBER_OF_UNITS }}</p>
            <p style="font-weight: bold; margin-bottom: 10px;">{{ imageData.unit5 }}</p>
          </div>

          <div *ngIf="imageData.size6 && imageData.unit6">
            <p style="font-size: 12px;">{{ translations.PACKAGING_SIZE }}</p>
            <p style="font-weight: bold; margin-bottom: 10px;">{{ imageData.size6 }}</p>
            <p style="font-size: 12px;">{{ translations.NUMBER_OF_UNITS }}</p>
            <p style="font-weight: bold; margin-bottom: 10px;">{{ imageData.unit6 }}</p>
          </div>
        
          <div *ngFor="let imageUrl of imageData.images2">
            <img style="width: 188px;" [src]="imageUrl" alt="{{ imageData.name2 }}">
          </div>
        
          <a style="text-decoration: none; color: white; font-size: 10px; padding-bottom: 20px;" *ngIf="imageData.imageLink2" [href]="imageData.imageLink2" target="_blank">Zobacz więcej</a>
        </div>
      
        <div *ngIf="imageData.name3">
          <h3>{{ imageData.name3 }}</h3>
          <p style="font-size: 12px;">{{ translations.PRODUCT_QUANTITY_NEEDED }}</p>
          <p style="font-weight: bold; margin-bottom: 15px;">{{ result1 }} Kg</p>
          
          <div *ngIf="imageData.size7 && imageData.unit7">
            <p style="font-size: 12px;">{{ translations.PACKAGING_SIZE }}</p>
            <p style="font-weight: bold; margin-bottom: 10px;">{{ imageData.size7 }}</p>
            <p style="font-size: 12px;">{{ translations.NUMBER_OF_UNITS }}</p>
            <p style="font-weight: bold;">{{ calculateUnits(result1, imageData.size7) }}</p>
          </div>

          <div *ngIf="imageData.size8 && imageData.unit8">
            <p style="font-size: 12px;">{{ translations.PACKAGING_SIZE }}</p>
            <p style="font-weight: bold; margin-bottom: 10px;">{{ imageData.size8 }}</p>
            <p style="font-size: 12px;">{{ translations.NUMBER_OF_UNITS }}</p>
            <p style="font-weight: bold;">{{ calculateUnits(result1, imageData.size8) }}</p>
          </div>

          <div *ngIf="imageData.size9 && imageData.unit9">
            <p style="font-size: 12px;">{{ translations.PACKAGING_SIZE }}</p>
            <p style="font-weight: bold; margin-bottom: 10px;">{{ imageData.size9 }}</p>
            <p style="font-size: 12px;">{{ translations.NUMBER_OF_UNITS }}</p>
            <p style="font-weight: bold;">{{ calculateUnits(result1, imageData.size9) }}</p>
          </div>


          <div *ngFor="let imageUrl of imageData.images3">
            <img style="width: 188px; " [src]="imageUrl" alt="{{ imageData.name3 }}">
          </div>
          <a style="text-decoration: none; color: white; font-size: 10px; padding-bottom: 20px;" *ngIf="imageData.imageLink3" [href]="imageData.imageLink3" target="_blank">Zobacz więcej</a>
        </div>
      </div>

      <button *ngIf="isMobileScreen()" class="mobile-button" (click)="toggleLeftAndRightDivs()">Oblicz ponownie</button>

      
      <ng-template #invalidMessage>
        <!-- Improved visibility of the error message with enhanced styling -->
        <p style="color: rgb(255, 255, 255); padding: 10px; border-radius: 8px;">
          {{ imageData.message }}
        </p>
      </ng-template>

     

      <span style="margin-bottom: 8px;" class="horizontal-line"></span>

      <button (click)="captureScreen()" style="padding-top:10px; font-size: 12px; cursor: pointer; background: none;
      border: none;
      color: white;
      padding-bottom: 20px;">
        {{ translations.DOWNLOAD_A_REPORT }}
      </button>
    </div>
  </div>
</div>
